---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import fs from "fs";

// 获取图片文件列表
const photosDir = "./public/imgs";
const photoFiles = fs.readdirSync(photosDir).filter(file => /\.(gif|jpg|jpeg|tiff|png|bmp|webp|avif|jxl)$/i.test(file));

// 对图片文件进行排序
photoFiles.sort((a, b) => b.localeCompare(a));

---

<Layout title={`Gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main pageTitle="Gallery" pageDesc="Browse our photo gallery ...">
    <div class="gallery-photos page">
      {photoFiles.map((file, index) => (
        <div class="gallery-photo" key={index}>
          <img class="photo-img" data-index={index} loading='lazy' decoding="async" src={`/imgs/${file}`} alt={file} />
          <span class="photo-title">{file.replace(/^[0-9 -]+(.*)[.].*/, "$1")}</span>
          <span class="photo-time">{file.replace(/^([0-9-]+).*[.].*/, "$1")}</span>
        </div>
      ))}
    </div>

    <div id="lightbox" class="lightbox">
      <span class="close">&times;</span>
      <img class="lightbox-img" id="lightbox-img" src="" alt="" />
      <span class="prev">&lt;</span>
      <span class="next">&gt;</span>
    </div>
  </Main>
  <Footer />
  
  <!-- client:only 用于保证 JavaScript 仅在客户端执行 -->
<script client:only="react">
  (function() {
    function initLightbox() {
      const lightbox = document.getElementById('lightbox');
      const lightboxImg = document.getElementById('lightbox-img');
      const closeBtn = document.querySelector('.lightbox .close');
      const prevBtn = document.querySelector('.lightbox .prev');
      const nextBtn = document.querySelector('.lightbox .next');
      let currentIndex = 0;

      // 绑定事件函数
      function bindLightboxEvents() {
        const photos = Array.from(document.querySelectorAll('.gallery-photo img'));

        photos.forEach((photo, index) => {
          photo.addEventListener('click', () => {
            lightbox.style.display = 'flex';
            lightboxImg.src = photo.src;
            currentIndex = index;
          });
        });
      }

      // 初始化时绑定事件
      bindLightboxEvents();

      // 监听图片动态加载
      const galleryPhotosContainer = document.querySelector('.gallery-photos');

      const observer = new MutationObserver(() => {
        bindLightboxEvents();
      });

      observer.observe(galleryPhotosContainer, { childList: true, subtree: true });

      // 关闭 Lightbox
      closeBtn.addEventListener('click', () => {
        lightbox.style.display = 'none';
      });

      // 显示上一张图片
      prevBtn.addEventListener('click', () => {
        if (currentIndex > 0) {
          currentIndex--;
          lightboxImg.src = document.querySelectorAll('.gallery-photo img')[currentIndex].src;
        }
      });

      // 显示下一张图片
      nextBtn.addEventListener('click', () => {
        if (currentIndex < document.querySelectorAll('.gallery-photo img').length - 1) {
          currentIndex++;
          lightboxImg.src = document.querySelectorAll('.gallery-photo img')[currentIndex].src;
        }
      });

      // 点击 Lightbox 背景关闭 Lightbox
      lightbox.addEventListener('click', (e) => {
        if (e.target === lightbox) {
          lightbox.style.display = 'none';
        }
      });
    }

    // 监听页面变化
    window.addEventListener('hashchange', initLightbox);
    window.addEventListener('popstate', initLightbox);

    // 初始化
    initLightbox();
  })();
</script>
</Layout>

<!-- 样式 -->
<style>
.gallery-photos { 
  width: 100%; 
  column-count: 4; 
  column-gap: 10px; 
}
.gallery-photo { 
  width: 100%; 
  position: relative; 
  overflow: hidden; 
  break-inside: avoid; 
  margin-bottom: 10px; 
}
.gallery-photo img { 
  display: block; 
  width: 100%; 
  border-radius: 0; 
  padding: 4px; 
  cursor: pointer; 
  transition: all .4s ease-in-out; 
}
.gallery-photo:hover img { 
  transform: scale(1.1); 
}
.gallery-photo span.photo-title, .gallery-photo span.photo-time { 
  background: rgba(0, 0, 0, 0.3); 
  padding: 0px 8px; 
  font-size: 0.9rem; 
  color: #fff; 
  display: none; 
}
.gallery-photo span.photo-title { 
  position: absolute; 
  bottom: 4px; 
  left: 4px; 
}
.gallery-photo span.photo-time { 
  position: absolute; 
  top: 4px; 
  left: 4px; 
  font-size: 0.8rem; 
}
.gallery-photo:hover span.photo-title { 
  display: block; 
}

@media screen and (max-width: 1280px) { 
  .gallery-photos { column-count: 3; } 
}
@media screen and (max-width: 860px) { 
  .gallery-photos { column-count: 2; } 
}
@media (max-width: 683px) { 
  .gallery-photos { column-count: 1; } 
}

/* Lightbox 样式 */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
}

.lightbox .close, .prev, .next {
  position: absolute;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.close {
  top: 10px;
  right: 25px;
}

.prev, .next {
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
</style>
