---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import * as React from "react";
import { render } from 'react-dom';
import Lightbox from "yet-another-react-lightbox";
import "yet-another-react-lightbox/styles.css";

// Server-side: Read the image files from the folder using Astro.glob
const photos = await Astro.glob('./public/imgs/*.{jpg,webp}');

const App = () => {
  const [open, setOpen] = React.useState(false);
  const [currentSlide, setCurrentSlide] = React.useState(0);

  const slides = photos.map(photo => ({ src: `/imgs/${photo.file}` }));

  const openLightbox = (index) => {
    setCurrentSlide(index);
    setOpen(true);
  };

  return (
    <>
      <div class="gallery-photos page">
        {photos.map((photo, index) => {
          const photoName = photo.file.split('.')[0]; // 获取图片名称
          return (
            <div class="gallery-photo" data-index={index} key={index} onClick={() => openLightbox(index)}>
              <img class="photo-img" loading='lazy' decoding="async" src={`/imgs/${photo.file}`} alt={photoName} />
              <span class="photo-title">{photoName}</span>
              <span class="photo-time">2024-10-03</span> {/* 假设所有图片时间相同，你可以调整逻辑从文件或其他地方读取实际时间 */}
            </div>
          );
        })}
      </div>

      <Lightbox
        open={open}
        close={() => setOpen(false)}
        slides={slides}
        index={currentSlide}
      />
    </>
  );
};

const rootElement = document.getElementById("root");
render(<App />, rootElement);
---

<Layout title={`Gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main pageTitle="Gallery" pageDesc="Browse our photo gallery ...">
    <div id="root"></div>
  </Main>
  <Footer />
</Layout>

<style>
.gallery-photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery-photo {
  width: calc(25% - 10px);
  position: relative;
  overflow: hidden;
  margin: 5px;
  flex-grow: 1;
  flex-basis: calc(25% - 10px);
  cursor: pointer;
}
.gallery-photo img {
  display: block;
  width: 100%;
  border-radius: 0;
  transition: all 0.4s ease-in-out;
}
.gallery-photo span.photo-title, .gallery-photo span.photo-time {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-size: 0.9rem;
  color: #fff;
  display: none;
}
.gallery-photo span.photo-title {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.gallery-photo span.photo-time {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.8rem;
}
.gallery-photo:hover span.photo-title {
  display: block;
}
.gallery-photo:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 1280px) {
  .gallery-photo {
    width: calc(33.3% - 10px);
  }
}
@media screen and (max-width: 860px) {
  .gallery-photo {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 683px) {
  .gallery-photo {
    width: calc(100% - 10px);
  }
  .photo-time {
    display: none;
  }
}
</style>
