---
// NeoDbCard.astro

// 定义组件的props
export interface Props {
  dbUrl: string;
}

const { dbUrl } = Astro.props;

// 发送API请求并获取数据
const dbApiUrl = "https://neodb.social/api/catalog/fetch?url=";
const dbFetch = await fetch(dbApiUrl + dbUrl).then(res => res.json());

// 检查数据是否成功获取
if (!dbFetch) {
  return (
    <p style="text-align: center;"><small>远程获取内容失败，请检查 API 有效性。</small></p>
  );
}

// 提取数据
const itemRating = dbFetch.rating || 0;
---

<div class="db-card">
  <div class="db-card-subject">
    <div class="db-card-post">
      <img loading="lazy" decoding="async" referrerpolicy="no-referrer" src={dbFetch.cover_image_url} />
    </div>
    <div class="db-card-content">
      <div class="db-card-title">
        <a href={dbUrl} class="cute" target="_blank" rel="noreferrer">{dbFetch.title}</a>
      </div>
      <div class="rating">
        <span class="allstardark">
          <span class="allstarlight" style={`width:${itemRating * 10}%`}></span>
        </span>
        <span class="rating_nums">{itemRating}</span>
      </div>
      <div class="db-card-abstract">{dbFetch.brief}</div>
    </div>
    <div class="db-card-cate">{dbFetch.category}</div>
  </div>
</div>